/.circleci
/build
/docs
/examples
/git-hooks
/samples
/test
.babelrc
.codeclimate.yml
.yo-rc.json
jsdoc.config.js

/.settings
/.project
/.idea
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
