name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            .yarn/unplugged
            .yarn/install-state.gz
          key: v2-dependencies--${{ matrix.node-version }}-${{ runner.OS }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            v2-dependencies--${{ matrix.node-version }}-${{ runner.OS }}-
            v2-dependencies--${{ matrix.node-version }}-

      - name: Check Dependencies
        run: yarn install --immutable --immutable-cache

      - name: Checks
        run: yarn run checks

      - name: Build
        run: yarn run build
        if: startsWith(matrix.node-version, '16.')

      - name: Prettier
        run: yarn run lint:prettier
        if: startsWith(matrix.node-version, '16.')

      - name: Typescript
        run: yarn run tsc
        if: startsWith(matrix.node-version, '16.')

      - name: Eslint
        run: yarn run lint:eslint
        if: startsWith(matrix.node-version, '16.')

      - name: Generate Test Coverage
        run: yarn run test --coverage --coverageReporters=json --coverageReporters=text
        if: startsWith(matrix.node-version, '16.')
        env:
          CI: true

      - name: Send results to codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: startsWith(matrix.node-version, '16.')

      - name: Check nothing was forgotten before commit
        if: startsWith(matrix.node-version, '16.')
        run: yarn run repository-check-dirty
