name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: node_modules
          key: v2-dependencies--${{ matrix.node-version }}-${{ runner.OS }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            v2-dependencies--${{ matrix.node-version }}-${{ runner.OS }}-
            v2-dependencies--${{ matrix.node-version }}-

      - name: Install Dependencies
        run: yarn install --prefer-offline --pure-lockfile

      - name: Lint
        run: yarn run lint
        if: startsWith(matrix.node-version, '12.')

      - name: Test
        run: yarn run test
        env:
          CI: true

      - name: Documentation
        run: yarn run generate:docs
        if: startsWith(matrix.node-version, '12.')
        env:
          CI: true

      - name: Send results to codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: startsWith(matrix.node-version, '12.')

      - name: Check nothing was forgotten before commit
        if: startsWith(matrix.node-version, '12.')
        run: yarn run repository-check-dirty
